@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #fdfbfb 0%, #ebedee 100%);
    z-index: 99;

}

.logo-button{
    display: flex;
    align-items: center;
      
    margin-left: 2.5rem;
    text-decoration: none;
}
.TiendaNombre{
    margin-left: -13px;
    color: linear-gradient( 270.3deg,  rgba(84,212,228,1) 0.2%, rgb(164, 68, 36) 100% );
    font-size: 20px;
    font-family: 'Black Ops One';

   
}

.logo {    
    width: 75px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;

}

.nav-list li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dropdown-item {
    font-size: 15px;
}



.nav-list li a:hover {
    color: #295ba7;
    border-bottom: #295ba7 2px solid;

}

.login-car {
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.btn-group{
    border: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-group button {
    border: transparent;
    
}

.btn-group button i {
    font-size: 30px;
    
}

.login-car a {
    text-decoration: none;
    color: black;

}

.imgNav {
    width: 60px;
    height: 40px;
    border-radius: 50%;
    
}

@media screen and (max-width: 750px) {
    header {
        justify-content: space-between;
    }

    .login-car {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1;
    }

    .nav {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 99;
    }

    

    .nav-list {
        display: block;
        margin-right: 1rem;
    }

    .nav-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }

    .dropdown-menu li {
        margin-top: 0;
    }

    .nav-list li i {
        font-size: 20px;
    }

    .nav-list li a {
        font-size: 20px;

    }
}